.color-gold{
	color:#AA8E39;
}

.background-color-gold{
	background: #AA8E39;
}

.color-gold2{
	color:#AA7F00;
}

.background-color-gold2 {
	background: #AA8515;
}

.background-color-gold3 {
	background: #AAA081;
}